.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 2rem;
}

.experience img {
  width: 300px;
  min-width: 100%;
  height: auto;
  min-height: 175px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.experience .skills {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.skill {
  font-family: 'Courier New', Courier, monospace;
}

.company {
}

.company .name {
  margin-bottom: 1rem;
}

.company .name h2 {
  font-size: 1.5rem;
}

.company .name h4 {
  font-size: 1.1rem;
}

.company .name h4 a {
  color: var(--primary);
  text-decoration: none;
}

.company .details {
  margin-top: 1rem;
}