footer {
  margin-top: 2rem;
  padding: 1rem 0;
  z-index: 100;
}

footer > * {
  padding: 1rem 0;
}

footer #socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer #socials svg {
  width: 24px;
  height: 24px;
  margin-right: 1.5rem;
  fill: black;

  transform: scale(1);
  transition: transform 0.1s;
}

footer #socials svg:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
  fill: var(--primary);
}

footer p {
  margin: 0;
}