#brand {
  font-family: "Rouge Script";
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#brand:hover {
  transform: scale(1.05);
  transition-delay: transform 1s;
}

a.nav-link, 
a.nav-link:focus, 
a.nav-link:hover {
  padding: 0;
  margin-left: 1rem;
  color: black;
}

a.nav-link:not(#brand) p:not(.line):after {
  display:block;
  content: '';
  border-bottom: 1px solid black;  
  transform: scaleX(0);  
  transform-origin:  0% 50%;
  transition: transform 250ms ease-in;
}

a.nav-link:not(#brand) p:not(.line):hover::after { 
  transform: scaleX(1); 
}

.line {
  display: block;
  content: '';
  border-bottom: 1px solid black; 
  transform: scaleX(1);
}