@keyframes appearFromLeft {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom left;
  }
}

#brand {
  padding: 0;
  margin: 0;
}

a.nav-link, 
a.nav-link:focus, 
a.nav-link:hover {
  margin-left: 0.5rem;
  color: black;
}

a.nav-link:hover:not(#brand) {
  border-bottom: 1px solid black;
}

.line {
  border-bottom: 1px solid black;
  animation-name: appearFromLeft;
  animation-duration: 0.5s;
}